<header class="site-header">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    <div class="title-header">
      <img class="profile-logo" src="{{ site.profile_logo }}"></img>
      <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    </div>

    <nav class="site-nav">
      {% for nav in site.navigation %}
      {% assign class = nil %}
      {% if page.url contains nav.url %}
        {% assign class = 'active' %}
      {% endif %}
      {% if nav.url contains 'http://' or nav.url contains 'https://' %}
      <a href="{{ nav.url }}" class="{{ class page.url}}">{{ nav.name }}</a>
      {% else %}
      <a href="{{ site.baseurl }}{{ nav.url }}" class="{{ class }}">{{ nav.name }}</a>
      {% endif %}
      {% endfor %}
    </nav>
  </div>
</header>