<header class="site-header">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    <div class="title-header">
      <img class="profile-logo" src="{{ site.profile_logo }}"></img>
      <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    </div>

    <nav class="site-nav">
      {% for nav in site.navigation %}
      {% assign page_url = page.url | downcase | remove: '/' %}
      {% assign nav_url = nav.url | downcase | remove: '/' %}
      {% assign class = nil %}
      {% if page_url contains nav_url %}
        {% assign class = 'active' %}
      {% endif %}
      <a href="{{ site.baseurl }}{{ nav.url }}" class="{{ class }}">{{ nav.name }}</a>
      {% endfor %}
      <span class="current-bar">
    </nav>
  </div>
</header>