@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

.pagination {
  text-align: center; }

.cusInnerPage {
  border: 1px solid #dddddd;
  padding: 4px 12px;
  margin: -2px;
  text-decoration: none;
  font-style: normal; }

a.cusInnerPage:hover {
  background: #f5f5f5; }

a.cusInnerPage:visited {
  color: #0088cc; }

/**
 * Basic styling
 */
body {
  font: 400 1.15rem/1.5 "NanumSquare", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  min-width: 290px; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px; }

/**
 * `main` element
 */
main {
  display: block;
  /* Default value of `display` of `main` element is 'inline' in IE 11. */ }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 1.00625rem; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

/**
 * Links
 */
a {
  color: #111;
  text-decoration: none; }
  a:hover {
    color: #2a7ae2;
    text-decoration: none; }
  .social-media-list a:hover {
    text-decoration: none; }
    .social-media-list a:hover .username {
      text-decoration: underline; }

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 1.29375rem;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 1.078125rem;
  font-size: 0.9rem;
  background-color: #f1f3f4; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Wrapper
 */
.wrapper {
  display: flex;
  flex-direction: column;
  max-width: -webkit-calc(800px - (30px));
  max-width: calc(800px - (30px));
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px; }
  @media screen and (min-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(800px - (30px * 2));
      max-width: calc(800px - (30px * 2));
      padding-right: 30px;
      padding-left: 30px; } }

/**
 * Clearfix
 */
.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.orange {
  color: #f66a0a; }

.grey {
  color: #828282; }

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: currentColor;
  padding: 5px 3px 2px 5px;
  vertical-align: text-bottom; }

/**
 * Tables
 */
table {
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
  color: #3f3f3f;
  border-collapse: collapse;
  border: 1px solid #e8e8e8; }
  table tr:nth-child(even) {
    background-color: #f7f7f7; }
  table th, table td {
    padding: 10px 15px; }
  table th {
    background-color: #f0f0f0;
    border: 1px solid #dedede;
    border-bottom-color: #c9c9c9; }
  table td {
    border: 1px solid #e8e8e8; }

/**
 * Site header
 */
.site-header {
  padding-top: 5px;
  border-bottom: 1px solid #e8e8e8;
  min-height: 55.95px;
  line-height: 3.88125rem;
  position: relative; }
  .site-header .profile-logo {
    max-width: 100%;
    vertical-align: middle;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 10px 20px; }
    @media screen and (max-width: 500px) {
      .site-header .profile-logo {
        margin: 0;
        width: 100px;
        height: 100px; } }
  .site-header .title-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px; }
    @media screen and (max-width: 500px) {
      .site-header .title-header {
        flex-direction: column-reverse;
        justify-content: center; } }

.projects {
  display: flex;
  flex-direction: column-reverse; }

.site-title {
  font-size: 1.86875rem;
  font-weight: 400;
  letter-spacing: -1px;
  margin-bottom: 0; }

.site-nav {
  position: relative;
  display: flex; }
  .site-nav a {
    padding: 0 16px;
    vertical-align: middle;
    border-bottom: 2px solid white;
    text-align: center; }
  .site-nav .current-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    content: '';
    height: 2px;
    background-color: black;
    transition: .3s; }

.pagination .svg-icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  padding: 0;
  vertical-align: middle; }
.pagination a {
  padding: 5px; }
.pagination em {
  background-color: black;
  color: white;
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 50%;
  font-style: normal;
  display: inline-flex;
  justify-content: center;
  align-items: center; }

@media screen and (max-width: 500px) {
  article.post {
    margin-top: 30px; } }

.posts-list .posts {
  margin: 10px;
  height: 180px; }
  @media screen and (max-width: 500px) {
    .posts-list .posts {
      height: 120px;
      margin: 5px; } }
  .posts-list .posts img {
    height: 100%;
    width: 100%; }
.posts-list .posts:hover {
  cursor: pointer; }
  .posts-list .posts:hover .more {
    color: white; }
.posts-list.grid {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-template-rows: 200px;
  justify-content: center; }
  @media screen and (max-width: 500px) {
    .posts-list.grid {
      grid-template-columns: repeat(auto-fit, 130px);
      grid-template-rows: 130px; } }
.posts-list .more {
  display: flex;
  position: relative;
  height: 56px;
  top: -56px;
  background-color: #00000080;
  color: #dedede;
  align-items: center;
  justify-content: space-evenly;
  pointer-events: none;
  font-size: 1.0rem; }
  .posts-list .more h2 {
    margin: 0; }
  @media screen and (max-width: 500px) {
    .posts-list .more {
      height: 35px;
      top: -35px;
      font-size: 0.6rem; } }
.posts-list h2 {
  margin: 8px 0; }

.home.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 740px);
  justify-content: center; }
  @media screen and (max-width: 800px) {
    .home.grid {
      display: inline-block; } }
.home img {
  min-width: 150px;
  max-width: 150px;
  height: 150px; }
  @media screen and (max-width: 500px) {
    .home img {
      max-width: 100px;
      min-width: 100px;
      height: 100px; } }
.home .post-card-preview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  padding-left: 20px;
  width: calc(100% - 150px); }
  @media screen and (max-width: 500px) {
    .home .post-card-preview {
      padding-left: 15px;
      width: calc(100% - 100px); } }
.home .post-card {
  padding: 4px 8px;
  padding-bottom: 20px;
  overflow: hidden;
  display: flex; }
  @media screen and (max-width: 500px) {
    .home .post-card {
      padding: 20px 0; } }
  .home .post-card .excerpt {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    margin: 0;
    font-size: 1.05rem; }
    .home .post-card .excerpt p {
      margin: 0; }
    @media screen and (max-width: 500px) {
      .home .post-card .excerpt {
        font-size: 0.9rem;
        -webkit-line-clamp: 1; } }
  .home .post-card .category {
    font-size: 0.9rem;
    color: gray; }
  .home .post-card .title {
    display: block;
    font-size: 1.3rem;
    margin-bottom: 5px;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
    @media screen and (max-width: 500px) {
      .home .post-card .title {
        font-size: 1.1rem;
        margin-bottom: 0; } }
  .home .post-card .date {
    display: block;
    font-size: 0.8rem;
    font-weight: bold;
    color: gray; }

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 15px 0;
  background-color: #f5f5f5; }

footer .svg-icon {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  margin-bottom: 15px; }
  footer .svg-icon li {
    display: inline-block;
    list-style: none; }
  footer .svg-icon svg {
    height: 30px;
    width: 30px; }

.footer-heading {
  font-size: 1.29375rem;
  margin-bottom: 15px; }

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }

.footer-col-wrapper {
  font-size: 1.078125rem;
  color: #828282;
  margin-left: -15px; }

.footer-col {
  width: -webkit-calc(100% - (30px / 2));
  width: calc(100% - (30px / 2));
  margin-bottom: 15px;
  padding-left: 15px; }

.footer-col-1,
.footer-col-2 {
  width: -webkit-calc(50% - (30px / 2));
  width: calc(50% - (30px / 2)); }

.footer-col-3 {
  width: -webkit-calc(100% - (30px / 2));
  width: calc(100% - (30px / 2)); }

@media screen and (min-width: 800px) {
  .footer-col-1 {
    width: -webkit-calc(35% - (30px / 2));
    width: calc(35% - (30px / 2)); }

  .footer-col-2 {
    width: -webkit-calc(20% - (30px / 2));
    width: calc(20% - (30px / 2)); }

  .footer-col-3 {
    width: -webkit-calc(45% - (30px / 2));
    width: calc(45% - (30px / 2)); } }
@media screen and (min-width: 600px) {
  .footer-col {
    float: left; } }
.chart-container {
  width: 100%; }
  .chart-container g.axis text {
    font-size: 1.0rem; }

.projects {
  margin: 0 -10px; }

.project {
  padding: 0 8px;
  box-sizing: border-box; }
  .project h3 {
    margin-bottom: 0;
    border-left: 2px solid #ff7021;
    padding-left: 10px; }
  .project img {
    border-radius: 50%;
    object-fit: cover;
    width: 120px;
    height: 120px;
    margin: 15px; }
  .project .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-basis: 50%; }
  .project .info-container {
    display: flex; }
  .project p {
    text-align: left; }
  @media screen and (max-width: 500px) {
    .project .info span:nth-child(1) {
      font-size: 0.9rem; } }
  @media screen and (min-width: 700px) {
    .project:not(.airforce) .info-container:nth-child(odd) {
      margin-left: auto;
      margin-top: -80px;
      margin-bottom: -80px; }
    .project.airforce div > .info-container:nth-child(even) {
      margin-left: auto;
      margin-top: -80px;
      margin-bottom: -80px; }
    .project .info-container {
      width: 50%; }
    .project .info {
      flex-grow: 1; } }
  .project .info span:nth-child(1) {
    padding: 2px 8px;
    background-color: #2f2f2f;
    border-radius: 10px;
    color: white;
    margin: 5px; }
  .project.current p {
    margin: 10px;
    text-align: center; }
  .project .svg-icon {
    width: 34px;
    height: 34px; }
    .project .svg-icon path {
      fill: #292929; }

/**
 * Page content
 */
.page-content {
  padding: 30px 0;
  flex: 1 0 auto; }
  @media screen and (max-width: 500px) {
    .page-content {
      padding: 10px 0; } }

.page-heading {
  font-size: 2.3rem; }

.post-list-heading {
  font-size: 2.0125rem; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }

.post-meta {
  font-size: 1.00625rem;
  color: #828282; }

.post-link {
  display: block;
  font-size: 1.725rem; }

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px; }

.post-title {
  font-size: 2.0rem; }

.post-content h1 {
  font-size: 3.01875rem;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (min-width: 800px) {
    .post-content h1 {
      font-size: 3.01875rem; } }

.post-content {
  margin-bottom: 30px; }
  .post-content a {
    color: #039be5;
    font-weight: bold; }
  .post-content p {
    font-size: 1.05rem; }
  .post-content h2, .post-content h3, .post-content h4 {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 4px; }
  .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px; }
  .post-content h2 {
    font-size: 2.0125rem; }
    @media screen and (min-width: 800px) {
      .post-content h2 {
        font-size: 2.3rem; } }
  .post-content h3 {
    font-size: 1.58125rem; }
    @media screen and (min-width: 800px) {
      .post-content h3 {
        font-size: 1.86875rem; } }
  .post-content h4 {
    font-size: 1.29375rem; }
    @media screen and (min-width: 800px) {
      .post-content h4 {
        font-size: 1.4375rem; } }
  .post-content h5 {
    font-size: 1.0925rem; }
    @media screen and (min-width: 800px) {
      .post-content h5 {
        font-size: 1.15rem; } }

.social-media-list {
  display: table;
  margin: 0 auto; }
  .social-media-list li {
    float: left;
    margin: 0 5px; }
    .social-media-list li:first-of-type {
      margin-left: 0; }
    .social-media-list li:last-of-type {
      margin-right: 0; }
    .social-media-list li a {
      display: block;
      padding: 7.5px; }
    .social-media-list li:hover .svg-icon {
      fill: currentColor; }

/**
 * Grid helpers
 */
@media screen and (min-width: 800px) {
  .one-half {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2)); } }
/*
* Progress bar
*/
.progress-bars {
  width: 100%;
  min-height: 100px;
  margin-bottom: 45px; }

.bar {
  display: block;
  overflow: hidden;
  height: 30px;
  width: 0px;
  border-radius: 15px;
  margin-bottom: 5px; }

.pattern {
  height: 100%;
  width: 100%;
  background-color: #ffc64e; }

.percentage {
  margin-left: 0px;
  padding-top: 2px;
  text-align: center;
  color: white; }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #f1f3f4; }
  .highlighter-rouge .highlight {
    background: #f1f3f4; }
  .highlight .c {
    color: #998;
    font-size: 0.9rem; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-size: 0.9rem; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }
