/**
 * Site header
 */
 .site-header {
  padding-top: 5px;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;
  line-height: $base-line-height * $base-font-size * 2.25;

  // Positioning context for the mobile navigation icon
  position: relative;

  .profile-logo {
    max-width: 100%;
    vertical-align: middle;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 10px 20px;
    @include media-query($on-mobile) {
      margin: 0;
      width: 100px;
      height: 100px;
    }
  }
  
  .title-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    @include media-query($on-mobile) {
      flex-direction: column-reverse;
      justify-content: center;
    }
  }
}

.projects {
  display: flex;
  flex-direction: column-reverse;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 400;
  letter-spacing: -1px;
  margin-bottom: 0;
}

.site-nav {
  position: relative;
  display: flex;
  a {
    padding: 0 $nav-padding-left-right;
    vertical-align: middle;
    border-bottom: 2px solid white;
    text-align: center;
  }
  .current-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    content: '';
    height: 2px;
    background-color: black;
    transition: .3s;
  }
}

.pagination {
  .svg-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    padding: 0;
    vertical-align: middle;
  }
  a {
    padding: 5px;
  }
  em {
    background-color: black;
    color: white;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    font-style: normal;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}

article.post {
  @include media-query($on-mobile) {
    margin-top: 30px;
  }
}

.posts-list {
  .posts {
    margin: 10px;
    height: 180px;
    @include media-query($on-mobile) {
      height: 120px;
      margin: 5px;
    }
    img {
      height: 100%;
      width: 100%;
    }
  }
  .posts:hover {
    cursor: pointer;
    .more {
      color: white;
    }
  }
  &.grid {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: 200px;
    justify-content: center;

    @include media-query($on-mobile) {
      grid-template-columns: repeat(auto-fit, 130px);
      grid-template-rows: 130px;
    }
  }
  .more {
    display: flex;
    position: relative;
    height: 56px;
    top: -56px;
    background-color: #00000080;
    color: #dedede;
    align-items: center;
    justify-content: space-evenly;
    pointer-events: none;
    font-size: 1.0rem;
    h2 {
      margin: 0;
    }
    @include media-query($on-mobile) {
      height: 35px;
      top: -35px;
      font-size: 0.6rem;
    }
  }
  h2 {
    margin: 8px 0;
  }
}

.home {
  &.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 740px);
    justify-content: center;
    @include media-query($content-width) {
      display: inline-block;
    }
  }
  img {
    min-width: 150px;
    max-width: 150px;
    height: 150px;
    @include media-query($on-mobile) {
      max-width: 100px;
      min-width: 100px;
      height: 100px;
    }
  }
  .post-card-preview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    padding-left: 20px;
    width: calc(100% - 150px);
    @include media-query($on-mobile) {
      padding-left: 15px;
      width: calc(100% - 100px);
    }
  }
  .post-card {
    padding: 4px 8px;
    padding-bottom: 20px;
    overflow: hidden;
    display: flex;
    @include media-query($on-mobile) {
      padding: 20px 0;
    }
    .excerpt {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      -webkit-line-clamp: 2;
      margin: 0;
      font-size: 1.05rem;
      p {
        margin: 0;
      }
      @include media-query($on-mobile) {
        font-size: 0.9rem;
        -webkit-line-clamp: 1;
      }
    }
    .category {
      font-size: 0.9rem;
      color: gray;
    }
    .title {
      display: block;
      font-size: 1.3rem;
      margin-bottom: 5px;
      font-weight: bold;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      @include media-query($on-mobile) {
        font-size: 1.1rem;
        margin-bottom: 0;
      }
    }
    .date {
      display: block;
      font-size: 0.8rem;
      font-weight: bold;
      color: gray;
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: 15px 0;
  background-color: $grey-color-soft;
}

footer {
  .svg-icon {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    margin-bottom: 15px;
    li {
      display: inline-block;
      list-style: none;
    }
    svg {
      height: 30px;
      width: 30px;
    }
  }
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  width: -webkit-calc(100% - (#{$spacing-unit} / 2));
  width:         calc(100% - (#{$spacing-unit} / 2));
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1,
.footer-col-2 {
  width: -webkit-calc(50% - (#{$spacing-unit} / 2));
  width:         calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(100% - (#{$spacing-unit} / 2));
  width:         calc(100% - (#{$spacing-unit} / 2));
}

@media screen and (min-width: $on-large) {
  .footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
  }

  .footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
  }
}

@media screen and (min-width: $on-medium) {
  .footer-col {
    float: left;
  }
}

.chart-container {
  width: 100%;
  g.axis text {
    font-size: 1.0rem;
  }
}
.projects {
  margin: 0 -10px;
}

.project {
  padding: 0 8px;
  box-sizing: border-box;
  h3 {
    margin-bottom: 0;
    border-left: 2px solid #ff7021;
    padding-left: 10px;
  }
  img {
    border-radius: 50%;
    object-fit: cover;
    width: 120px;
    height: 120px;
    margin: 15px;
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-basis: 50%;
  }
  .info-container {
    display: flex;
  }
  p {
    text-align: left;
  }
  @include media-query($on-mobile) {
    .info span:nth-child(1) {
      font-size: 0.9rem;
    }
  }
  @media screen and (min-width: 700px) {
    &:not(.airforce) .info-container:nth-child(odd) {
      margin-left: auto;
      margin-top: -80px;
      margin-bottom: -80px;
    }
    &.airforce div > .info-container:nth-child(even) {
      margin-left: auto;
      margin-top: -80px;
      margin-bottom: -80px;
    }
    .info-container {
      width: 50%;
    }
    .info {
      flex-grow: 1;
    }
  }
  .info span:nth-child(1) {
    padding: 2px 8px;
    background-color:#2f2f2f;
    border-radius: 10px;
    color: white;
    margin: 5px;
  }
  &.current {
    p {
      margin: 10px;
      text-align: center;
    }
  }
  .svg-icon {
    width: 34px;
    height: 34px;
    path {
      fill: #292929;
    }
  }
}


/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1 0 auto;

  @include media-query($on-mobile) {
    padding: 10px 0;
  }
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 2.0rem;
}
.post-content h1 {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @media screen and (min-width: $on-large) {
    @include relative-font-size(2.625);
  }
}

.post-content {
  margin-bottom: $spacing-unit;
  a {
    color: #039be5;
    font-weight: bold;
  }
  p {
    font-size: 1.05rem;
  }

  h2, h3, h4 {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 4px;
  }

  h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  h2 {
    @include relative-font-size(1.75);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(2);
    }
  }

  h3 {
    @include relative-font-size(1.375);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.625);
    }
  }

  h4 {
    @include relative-font-size(1.125);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.25);
    }
  }

  h5 {
    @include relative-font-size(0.95);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.0);
    }
  }
}


.social-media-list {
  display: table;
  margin: 0 auto;
  li {
    float: left;
    margin: 0 5px;
    &:first-of-type { margin-left: 0 }
    &:last-of-type { margin-right: 0 }
    a {
      display: block;
      padding: $spacing-unit / 4;
    }
    &:hover .svg-icon { fill: currentColor; }
  }
}


/**
 * Grid helpers
 */
@media screen and (min-width: $on-large) {
  .one-half {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }
}

/*
* Progress bar
*/
.progress-bars {
  width: 100%;
  min-height: 100px;
  margin-bottom: 45px;
}

//The actual bar with the progress
.bar {
  display: block;
  overflow: hidden;
  height: 30px;
  width: 0px;
  border-radius: 15px;
  margin-bottom: 5px;
}

//The pattern
.pattern {
  height: 100%;
  width: 100%;
  background-color: #ffc64e;
}

//Div to display the percentage
.percentage {
  margin-left: 0px;
  padding-top: 2px;
  text-align: center;
  color: white;
}