---
layout: default
---
<article class="post">
  안녕하세요. 개발자 다빈입니다.
  <div class="post-content">
    {{ content }}
  </div>
  <h2>기술</h2>
  <div class="chart-container"></div>
  <h2>프로젝트</h2>
</article>
<script>
  const dataset = [
    {"name":"C++", "value": 0.9},
    {"name":"Cocos2d-x", "value": 0.7},
    {"name":"Godot", "value": 0.2},
    {"name":"PHP", "value": 0.3},
    {"name":"JAVA", "value": 0.4},
    {"name":"JavaScript", "value": 0.9},
    {"name":"Vue.js", "value": 0.7},
    {"name":"Node.js", "value": 0.4}
  ];
  drawBarChart(".chart-container", dataset);
</script>