---
layout: default
---
<div class="home grid">
  <!-- This loops through the paginated posts -->
  {% for post in paginator.posts %}
    <div class="post-card">
      <a href="{{ post.url }}">
        <img src="{{ post.thumbnail }}"></img>
      </a>
      <div class="post-card-preview">
        <div>
          <a class="title" href="{{ post.url }}">{{ post.title }}</a>
          <div class="excerpt">{{ post.description }}</div>
        </div>
        <div>
          <div class="category">{{ post.categories }}</div>
          <div class="date">{{ post.date | date: "%a, %B %-d, %Y"}}</div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
  <!-- Pagination links -->
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-left" class="svg-icon svg-inline--fa fa-angle-left fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="currentColor" d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z"></path></svg></a>
    {% else %}
    <span><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-left" class="svg-icon svg-inline--fa fa-angle-left fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="currentColor" d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z"></path></svg></span>
    {% endif %}

    {%- assign _page = page -%}
    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
      <em>{{ page }}</em>
      {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
      <a href="{{ _page.pagination.permalink | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" class="svg-icon svg-inline--fa fa-angle-right fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg></a>
      {% else %}
      <span><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" class="svg-icon svg-inline--fa fa-angle-right fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg></span>
      {% endif %}
  </div>
  {% endif %}