---
layout: default
---
<ul class="posts-list grid">
  {% for category in site.categories %}
  {%- assign category_name = category | first -%}
  {%- assign kor_wrapping = site.category_kr_wrapping[category_name] -%}
  {% for posts in category %}
  {%- assign post_count = posts.size -%}
  {% if posts[0].thumbnail %}
  <div class="posts">
  <a href="{{ category_name }}">
    <img src="{{ posts[0].thumbnail }}"/>
  </a>
  {% endif %}
  {% endfor %}
    <div class="more">
      {% if kor_wrapping %}
      <h2 id="{{category | first}}">{{ kor_wrapping }}</h2>
      {% else %}
      <h2 id="{{category | first}}">{{ category_name }}</h2>
      {% endif %}
      <h2 class="count">{{ post_count }}</h2>
    </div>
  </div>
  {% endfor %}
</ul>